PORT=7998
MONGODB_URI=mongodb://localhost:27017/esporte_clube_pelotas
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=1h

# AWS / Firebase
STORAGE_PROVIDER=firebase
FIREBASE_PROJECT_ID=esporteclubepelotas-admin
FIREBASE_STORAGE_BUCKET=esporteclubepelotas-admin.firebasestorage.app
FIREBASE_CREDENTIALS_BASE64=mock-base64-aqui
AWS_REGION=us-east-1
AWS_BUCKET_NAME=
AWS_ACCESS_KEY=mock-key
AWS_SECRET_KEY=

# Resend Mail
RESEND_API_KEY=mock-resend-key
SMTP_USER="esporteclubepelotasadmin@gmail.com"
SMTP_PASS=iieamgmruchroczz